body
{
    font-family: "Lato", sans-serif;
}
.parent
{
    position:relative;
    border: 2px solid black;
    height:100vh;
    overflow:hidden;
   
}
.solid-circle
{
    height:850px;
    width: 850px;
    background-color: rgb(138, 205, 5);
    border-radius: 50%;
    position: absolute;
    right:-300px;
    top:-100px;
    z-index: 1; 
}

.material-symbols-outlined {
      font-size: 30px;
      color: rgb(138, 205, 5);
      vertical-align: middle;
      
    }
     .header-home {
       
        color:rgb(13, 14, 11) ; 
        display:flex;
        justify-content: space-between;   
        position:relative;
        z-index:2;
        padding:20px;
        
      }

      #click-here-btn
      {
        background-color:  rgb(244, 246, 240);
        color:rgb(138, 205, 5);
        font-size:large;
        font-weight: 600;
        box-shadow: 5px 5px rgb(7, 102, 21);
        padding-right: 30px;
      }
      .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    margin-top: -50px; /* Adjust if needed to account for header */
    z-index: 3;
}
#name
{
    color:rgb(138, 205, 5);
    font-size: 80px;
    
}
.form-group
{
    box-shadow: 4px 4px 4px rgb(138, 205, 5);
    border-radius: 5px;
}
#login
{
    background-color:rgb(138, 205, 5) ;
    color:white;
    padding:5px 15px;
    margin-top: 10px;
}
